/* da qua in su cancella */
.btn-blue {
  color: white !important;
  background-color: #4C4CCD !important;
}
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    /* color: #303030; */
    color: #4C4CCD;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
h4.upper-case {
  font-size: 19px;
  text-transform: uppercase;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
a
{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a:hover
{
    text-decoration: none;
    color: white;
}
.relative {
    position: relative !important;
    vertical-align: middle;
}
.container-fluid {
    padding: 60px 50px;
}
.logo-small {
    color: #C0C0C0;
    font-size: 50px;
}
.logo {
    color: #fff !important;
    background-color: gray !important;
}
/* .modal {
    top: 100px;
} */
.navbar {
    margin-bottom: 0;
    background-color: gray; /*#C0C0C0;*/ /* #f4511e; */
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    /* color: gray !important;
    background-color: #fff !important; */
    color: white !important;
    background-color: #4C4CCD !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.icon-bar {
    background-color: #4C4CCD !important;
}
.glyphicon-chevron-up, .glyphicon-chevron-down {
    font-size: 30px;
    color: white;
}
.grey { color: grey;}
.purple { color: #4C4CCD;}
.btn-mailto {
    background-color: #A9A9A9;
    color: white;
    text-align: center;
}
.btn-mailto:hover {
    background-color: grey;
    color: white;
    text-align: center;
}
.nopointer { cursor: default !important;}
.bottom {
    height: 100%;
    position: relative;
    bottom: 0px;
}
.txt-left { text-align: left;}
footer .glyphicon {
    font-size: 30px;
    color: #4C4CCD;
}
footer .txt-small {
  font-size: 10px !important;
}
footer {
    color: white;
    background-color: gray;
    width: 100%;
    position: relative;
    bottom: 0px;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
::selection {
  background: #4C4CCD; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #4C4CCD; /* Gecko Browsers */
  color: white;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
  .img-footer {width: 30%;}
}
@media screen and (min-width: 768px) {
  .col-sm-6 {
    width: 80% !important;
  }
}
@media screen and (max-width: 480px) {
  .logo { font-size: 15px; }
  h1 { font-size: 25px; }
  h2, h4 {text-align: center;}
  .txt-left {
    text-align: center;
    position:relative;
  }
  .img-footer {width: 30%;}
  footer {font-size: 12px;}
  /* .footer-sm-2 {left: 50%;} */
}
@media screen and (max-width: 320px) {
  .logo { font-size: 0px; }
  h1 { font-size: 20px; }
  h2, h4 {text-align: center;}
  .txt-left {
    text-align: center;
    position:relative;
  }
  .img-footer {width: 30%;}
  footer {font-size: 12px;}
}

/* fine css */